
header{
  display: flex;
}

.logo {
  background-image: url("../imagenes/logo.png");
  width: 90px;
  height: 90px;
}

 nav{
  text-align: center;
  display: flex;
  justify-content: center;
  background: black;
  position: relative;
  top: -16px;
}
nav a{
padding: 20px;
display: inline-block;
text-decoration:none;
transition:all 1s linear;
}

 nav a:hover{
background-color: white;
color: black;

}

.social {
  position: relative;

}

.twitter {
  color: white;
  border-radius: 10%;
  background: #1dcaff;
}

.facebook {
  color: #3B5998;
  border-radius: 10%;
}

.youtube {
  color: #CC181E;
  border-radius: 10%;
}
